{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1MjbEVinrW9Bv1G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


    <!-- Remix Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">

    <!-- Custom CSS -->
    <link href="{% static 'network/css/import.css' %}" rel="stylesheet">
    <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'network/css/darkmode.css' %}" rel="stylesheet">
</head>
<body data-bs-theme="light">

    <!-- Navbar Section -->
    <section>
        <div class="iq-navbar-custom">
            <div class="iq-top-navbar">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <!-- Navbar Logo -->
                    <div class="iq-navbar-logo d-flex justify-content-between">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'network/photos/logo.png' %}" alt="Logo">
                            <span>Network</span>
                        </a>
                        <div class="iq-menu-bt align-self-center">
                            <div class="wrapper-menu">
                                <div class="main-circle"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Search Bar -->
                    <div class="iq-search-bar device-search d-block">
                        <form action="{% url 'search_results' %}" method="GET" class="searchbox">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                            <input type="text" name="query" class="text search-input" placeholder="Search here...">
                        </form>
                    </div>

                    <!-- Search Icon Script -->
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const searchIcon = document.querySelector(".search-link");
                            const searchForm = document.querySelector(".searchbox");
                            searchIcon.addEventListener("click", function(event) {
                                event.preventDefault();
                                searchForm.submit();
                            });
                        });
                    </script>

                    <!-- Navbar Icons and Profile Dropdown -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto navbar-list">
                            <li class="nav-item dropdown">
                                <a href="#" class="search-toggle dropdown-toggle" id="notification-drop" data-bs-toggle="dropdown">
                                    <i class="ri-notification-4-line"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle" id="mail-drop" data-bs-toggle="dropdown">
                                    <i class="ri-mail-line"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="d-flex align-items-center dropdown-toggle" id="drop-down-arrow" data-bs-toggle="dropdown">
                                    {% if request.user.background_image %}
                                        <img id="navbar-profile-image" src="{{ request.user.background_image.url }}" class="img-fluid rounded-circle avatar-40" alt="Profile Image">
                                    {% else %}
                                        <img id="navbar-profile-image" src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" class="img-fluid rounded-circle avatar-40" alt="Profile Image">
                                    {% endif %}
                                </a>
                                <div class="sub-drop dropdown-menu caption-menu" aria-labelledby="drop-down-arrow">
                                    <div class="card shadow-none m-0">
                                        <div class="card-header bg-primary">
                                            <div class="header-title">
                                                <h5 class="mb-0 text-white">Hello {{ user.username }}</h5>
                                                <span class="text-white font-size-12">Available</span>
                                            </div>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <div class="card-body p-0">
                                            <a href="{% url 'profile' %}" class="iq-sub-card iq-bg-primary-hover">
                                                <div class="d-flex align-items-center">
                                                    <div class="rounded card-icon bg-soft-primary">
                                                        <i class="ri-file-user-line"></i>
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0">My Profile</h6>
                                                        <p class="mb-0 font-size-12">View personal profile details.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="{% url 'edit' %}" class="iq-sub-card iq-bg-warning-hover">
                                                <div class="d-flex align-items-center">
                                                    <div class="rounded card-icon bg-soft-warning">
                                                        <i class="ri-profile-line"></i>
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0">Edit Profile</h6>
                                                        <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="d-inline-block w-100 text-center p-3">
                                                <a class="btn btn-primary iq-sign-btn" href="{% url 'logout' %}" role="button">Sign out<i class="ri-login-box-line ms-2"></i></a>
                                            {% else %}
                                                <a class="btn btn-primary iq-sign-btn" href="{% url 'login' %}" role="button">Sign in<i class="ri-login-box-line ms-2"></i></a>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <!-- Main Content Section -->
    <main role="main" class="container mt-4">
        {% block body %}
        {% endblock %}
    </main>

    <!-- Dark Mode Toggle Button -->
    <button id="theme-toggle">🌙</button>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-7rI5A7TB/fbFyjiwISl3fNjLqY6f2mDgNwxsvWE9mslbzzLxoi9O1CcYL9cl86p9" crossorigin="anonymous"></script>
    
    <!-- Custom and External Scripts -->
    <script defer src="{% static 'network/js/libs.min.js' %}"></script>
    <script defer src="{% static 'network/js/darkmode.js' %}"></script>
</body>
</html>
