
{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  
<div id="content-page" class="content-page">
  <div class="container">
     <div class="row">
        <div class="col-sm-20">
           <div class="card">
              <div class="card-body profile-page p-0">
                 <div class="profile-header">
                  <!-- Profile background image section -->
                  <div class="position-relative">
                    {% if user.background_image %}
                        <img src="{{ user.background_image.url }}" alt="profile-bg" class="rounded img-fluid cover-photo">
                    {% else %}
                        <img src="{% static 'network/photos/pexels-francesco-ungaro-1525041.jpg' %}" alt="profile-bg" class="rounded img-fluid cover-photo">
                    {% endif %}

                    <!-- Button to edit the background image -->
                    <button type="button" class="edit-photo2 position-absolute top-0 start-0 m-3" data-bs-toggle="modal" data-bs-target="#backgroundImageModal">
                        <i class="fa fa-camera-retro"></i>
                        <label class="fileContainer"> Edit Profile Photo </label>
                    </button>
                  </div>
                                                  
                    <!-- Modal to change the background image -->
                    <div class="modal fade" id="backgroundImageModal" tabindex="-1" aria-labelledby="backgroundImageModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="backgroundImageModalLabel">Edit Cover Photo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ background_form.as_p }}
                                        <button type="submit" name="update_background" class="btn btn-primary">Save Background Image</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>     

                    <!-- Username section -->
                    <div class="profile-detail text-center my-3">
                        <h3 class="username">{{ user.username }}</h3>
                    </div>
                    
                    <!-- Social media links and user statistics -->
                    <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">
                        <div class="social-links">
                            <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                               <li class="text-center pe-3">
                                  <a href="#"><img src="{% static 'network/icons/08.png' %}" class="img-fluid rounded" alt="facebook"></a>
                               </li>
                               <li class="text-center pe-3">
                                  <a href="#"><img src="{% static 'network/icons/09.png' %}" class="img-fluid rounded" alt="Twitter"></a>
                               </li>
                               <li class="text-center pe-3">
                                  <a href="#"><img src="{% static 'network/icons/10.png' %}" class="img-fluid rounded" alt="Instagram"></a>
                               </li>
                               <li class="text-center pe-3">
                                  <a href="#"><img src="{% static 'network/icons/11.png' %}" class="img-fluid rounded" alt="Google plus"></a>
                               </li>
                               <li class="text-center pe-3">
                                  <a href="#"><img src="{% static 'network/icons/12.png' %}" class="img-fluid rounded" alt="YouTube"></a>
                               </li>
                               <li class="text-center md-pe-3 pe-0">
                                  <a href="#"><img src="{% static 'network/icons/13.png' %}" class="img-fluid rounded" alt="LinkedIn"></a>
                               </li>
                            </ul>
                         </div>
                         
                         <!-- User statistics -->
                         <div class="social-info">
                            <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                              <li class="text-center ps-3">
                                <h6>Posts</h6>
                                <p class="mb-0">{{ post_count }}</p>
                             </li>
                               <li class="text-center ps-3">
                                  <h6>Followers</h6>
                                  <p class="mb-0">{{ followers_count }}</p>
                               </li>
                               <li class="text-center ps-3">
                                  <h6>Following</h6>
                                  <p class="mb-0">{{ following_count }}</p>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>


<!-- Tab navigation for timeline, about, friends, and photos -->
<div class="card">
  <div class="card-body p-0">
     <div class="user-tabing">
        <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
           <li class="nav-item col-12 col-sm-3 p-0">
              <a class="nav-link active" href="#pills-timeline-tab" data-bs-toggle="pill" data-bs-target="#timeline" role="button">Timeline</a>
           </li>
           <li class="nav-item col-12 col-sm-3 p-0">
              <a class="nav-link" href="#pills-about-tab" data-bs-toggle="pill" data-bs-target="#about" role="button">About</a>
           </li>
           <li class="nav-item col-12 col-sm-3 p-0">
              <a class="nav-link" href="#pills-friends-tab" data-bs-toggle="pill" data-bs-target="#friends" role="button">Friends</a>
           </li>
           <li class="nav-item col-12 col-sm-3 p-0">
              <a class="nav-link" href="#pills-photos-tab" data-bs-toggle="pill" data-bs-target="#photos" role="button">Photos</a>
           </li>
        </ul>
     </div>
  </div>
</div>

<!-- Timeline post creation section -->
<main>
  <div class="col-sm-12">
    <div class="tab-content">
       <section class="tab-pane fade show active" id="timeline" role="tabpanel">
          <div class="card-body p-0">
             <div class="row">
       <div id="post-modal-data" class="card">
           <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                   <h4 class="card-title">Create Post</h4>
               </div>
           </div>
   
           {% if user.is_authenticated %}
           <!-- Form to create a new post -->
           <div class="card-body">
               <div class="d-flex align-items-center">
                <div class="user-img">
                  {% if user.background_image %}
                      <img src="{{ user.background_image.url }}" class="rounded-circle avatar-60" alt="User Background Image">
                  {% else %}
                      <img src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" class="rounded-circle avatar-60" alt="User Background Image">
                  {% endif %}
              </div>
                   <form action="{% url 'new_post' %}" enctype="multipart/form-data" method="post" class="post-text ms-3 w-100">
                       {% csrf_token %}
                       <input type="text" id="post-content" name="content" class="form-control rounded" placeholder="What's on your mind?" style="border:none;">
               </div>
               <hr>
               <!-- Post options: photo/video, tag friend, activity -->
               <ul class="post-opt-block d-flex list-inline m-0 p-0 flex-wrap">
                   <button type="button" class="bg-soft-primary rounded p-2 pointer d-flex align-items-center me-3 mb-md-0 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none;">
                       <img src="{% static 'network/photos/07.png' %}" alt="icon" class="img-fluid me-2"> Photo/Video
                   </button>
                   <li class="bg-soft-primary rounded p-2 pointer d-flex align-items-center me-3 mb-md-0 mb-2" style="border: none;">
                       <img src="{% static 'network/photos/08.png' %}" alt="icon" class="img-fluid me-2"> Tag Friend
                   </li>
                   <li class="bg-soft-primary rounded p-2 pointer d-flex align-items-center me-3" style="border: none;">
                       <img src="{% static 'network/photos/09.png' %}" alt="icon" class="img-fluid me-2"> Feeling/Activity
                   </li>
                   <button id="submit-post" class="btn btn-primary" style="background-color: #28a745; border-color: #28a745;"><i class="bi bi-arrow-right-circle-fill me-2"></i> Post</button>
               </ul>
           </form>
           </div>
       </div>
   </div>
   {% endif %}
   
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}

<!-- Modal Section to Upload Photo/Video -->
<section>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Upload Photo/Video</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <!-- Form to upload image or video -->
                  <form id="post-form" action="{% url 'new_post' %}" enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      <div class="mb-3 d-flex align-items-center">
                          <!-- Profile image next to the input -->
                          <div class="user-img">
                              {% if user.background_image %}
                                  <img src="{{ user.background_image.url }}" class="rounded-circle" alt="Profile Image">
                              {% else %}
                                  <img src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" class="rounded-circle" alt="Profile Image">
                              {% endif %}
                          </div>
                          <!-- Input field for the post content -->
                          <input type="text" id="post-content" name="content" class="form-control" placeholder="Write something here..." value="{{ form.content.value|default:'' }}">
                          {% if form.errors.content %}
                              <span style="color: red;">{{ form.errors.content }}</span>
                          {% endif %}
                      </div>
                      <!-- Divider line -->
                      <div class="divider"></div>
                      <div class="mb-3">
                          <!-- File input for image/video -->
                          <input type="file" name="image" id="post-image" class="form-control">
                      </div>
                      <!-- Submit button for the post -->
                      <button type="submit" id="submit-post-modal" class="btn btn-primary">Post</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Loop through user posts -->
{% for post in user_posts %}
<div class="card">
  <div class="card-body">
    <div class="post-item">
      <!-- Post Header: Author information and post date -->
      <div class="user-post-data pb-3">
        <div class="d-flex justify-content-between">
          <div class="me-3">
            <!-- Author Profile Image -->
            {% if post.author.background_image %}
              <img src="{{ post.author.background_image.url }}" class="rounded-circle avatar-30" alt="Author Background Image">
            {% else %}
              <img src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" class="rounded-circle avatar-30" alt="Author Background Image">
            {% endif %}
          </div>

          <!-- Post Author and Timestamp -->
          <div class="w-100">
            <div class="d-flex justify-content-between flex-wrap">
              <div>
                <!-- Link to profile or user page depending on the current user -->
                {% if post.author.id == request.user.id %}
                  <h5 class="mb-0 d-inline-block"><a href="{% url 'profile' %}">{{ post.author.username }}</a></h5>
                {% else %}
                  <h5 class="mb-0 d-inline-block"><a href="{% url 'user_page' post.author.id %}">{{ post.author.username }}</a></h5>
                {% endif %}
                <p class="ms-1 mb-0 d-inline-block">Add New Post</p>
                <p class="mb-0">{{ post.created_at }}</p>
              </div>
              
              <!-- Post Actions Dropdown -->
              <div class="card-post-toolbar">
                <div class="dropdown">
                  <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="ri-more-fill"></i>
                  </span>
                  <div class="dropdown-menu m-0 p-0">
                    <!-- Post action items (delete, edit) -->
                    {% if post.author == user %}
                        <a class="dropdown-item p-3" href="{% url 'delete_post' post.id %}" onclick="return confirm('Are you sure you want to delete this post?');">
                            <div class="d-flex align-items-top">
                                <i class="ri-delete-bin-7-line h4"></i>
                                <div class="data ms-2">
                                    <h6>Delete</h6>
                                    <p class="mb-0">Remove this Post on Timeline</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Optional Post Image -->
      {% if post.image %}
        <div class="user-post">
          <a href="#"><img src="{{ post.image.url }}" alt="post-image"id="postimage" class="img-fluid w-100" /></a>
        </div>
      {% endif %}
<!-- Post Content -->
      <p class="card-text" id="post-content-{{ post.id }}">{{ post.content }}</p>

      <!-- Comment Area -->
     
        <ul class="post-comments p-0 m-0">
          <!-- Comment items here -->
          <li>
            <div class="comment-area mt-3">
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="like-block position-relative d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="like-data">
                      <div class="dropdown">
                       
                        {% if user.is_authenticated and user == post.author %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% endif %}
                    
                        
                      </div>
                    </div>

                   
                      <button class="like-btn btn btn-primary btn-sm"id="like" data-post-id="{{ post.id }}">Like</button>
                      <button class="unlike-btn btn btn-danger btn-sm" id="unlike" data-post-id="{{ post.id }}">Unlike</button>
                   
                    <div class="total-like-block ms-2 me-3">
                      <div class="dropdown">
                        <span aria-haspopup="true" aria-expanded="false" role="button">
                          <div class="likes-count">{{ post.likes.count }}Likes</div>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="total-comment-block">
                    <div class="dropdown">
                      <span class="comment" aria-haspopup="true" aria-expanded="false" role="button">
                        {{ post.comments.count }} Comment
                      </span>
                    </div>
                  </div>
                </div>
                <div class="share-block d-flex align-items-center feather-icon mt-2 mt-md-0">
                  <a href="#" data-bs-toggle="offcanvas" data-bs-target="#share-btn" aria-controls="share-btn">
                    <i class="ri-share-line"></i>
                    <span class="ms-1">{{ post.shares.count }} Share</span>
                  </a>
                </div>
              </div>
              <hr>
            </div>
          </li>
        </ul>
       
                
<!-- Post Comments Section -->
<ul class="post-comments list-unstyled">
<!-- Comentarios en el post -->
{% if post.comments.all %}
<div class="post-comments-container my-3">
{% for comment in post.comments.all %}
<div class="comment-item border-bottom py-2">
<div class="d-flex align-items-start">
  <!-- Imagen de perfil del autor del comentario -->
  <div class="user-img">
    {% if comment.author.background_image %}
      <img src="{{ comment.author.background_image.url }}" class="avatar-30 rounded-circle" alt="User Image">
    {% else %}
      <img src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" class="avatar-30 rounded-circle" alt="User Image">
    {% endif %}
  </div>
  <!-- Contenido del comentario -->
  <div class="comment-content ms-3 flex-grow-1">
    <h6 class="mb-1">
      <a href="{% url 'user_page' comment.author.id %}" class="text-decoration-none">{{ comment.author.username }}</a>
    </h6>
    <p class="mb-1">{{ comment.content }}</p>
    <small class="text-muted">{{ comment.created_at }}</small>
    <!-- Acciones de comentario -->
    <div class="d-flex mt-1">
      <button class="btn btn-link p-0 me-3 like-comment-btn" data-comment-id="{{ comment.id }}">
        👍 Like <span class="comment-likes-count">{{ comment.likes.count }}</span>
      </button>
      <button class="btn btn-link p-0">💬 Reply</button>
    </div>
  </div>
</div>
</div>

{% endfor %}
</div>
{% endif %}
<!-- Comment Form -->
<form method="post" class="comment-text d-flex align-items-center mt-3" action="{% url 'add_comment' post.id %}">
{% csrf_token %}
{{ comment_form.content }}
<!-- Form Attachments -->
<button type="submit" class="btn btn-primary">Comentar</button>
</form>

    </div>
  </div>
</div>
{% empty %}
<p>No posts yet.</p>
{% endfor %}
</section>

<!-- offcanvas start -->
<div class="offcanvas offcanvas-bottom share-offcanvas" tabindex="-1" id="share-btn" aria-labelledby="shareBottomLabel">
  <div class="offcanvas-header">
     <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
     <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
     <div class="d-flex flex-wrap align-items-center">
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\08.png' %}" class="img-fluid rounded mb-2" alt="">
           <h6>Facebook</h6>
        </div>
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\09.png'%}" class="img-fluid rounded mb-2" alt="">
           <h6>Twitter</h6>
        </div>
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\10.png' %}" class="img-fluid rounded mb-2" alt="">
           <h6>Instagram</h6>
        </div>
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\11.png' %}" class="img-fluid rounded mb-2" alt="">
           <h6>Google Plus</h6>
        </div>
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\12.png' %}" class="img-fluid rounded mb-2" alt="">
           <h6>In</h6>
        </div>
        <div class="text-center me-3 mb-3">
           <img src="{% static 'network\icons\13.png' %}" class="img-fluid rounded mb-2" alt="">
           <h6>YouTube</h6>
        </div>
     </div>
  </div>
</div>
</section>


{% comment %} about {% endcomment %}
<div class="tab-pane fade" id="about" role="tabpanel">
  <div class="card">
     <div class="card-body">
        <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-9 ps-4">
              <div class="tab-content">
                 <div class="tab-pane fade active show" id="v-pills-basicinfo-tab" role="tabpanel"  aria-labelledby="v-pills-basicinfo-tab">
                    <h4>Contact Information</h4>
                    <hr>
                    <div class="row">
                       <div class="col-3">
                          <h6>Email</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.email }}</p>
                       </div>
                       <div class="col-3">
                          <h6>Mobile</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.mobile }}</p>
                       </div>
                       <div class="col-3">
                          <h6>Address</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.address }}</p>
                       </div>
                    </div>
                    <h4 class="mt-3">Basic Information</h4>
                    <hr>
                    <div class="row">
                       <div class="col-3">
                          <h6>Birth Date</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.birth_date }}</p>
                       </div>
                       
                       <div class="col-3">
                          <h6>Gender</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.gender }}</p>
                       </div>
                       <div class="col-3">
                          <h6>interested in</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.interests }}</p>
                       </div>
                       <div class="col-3">
                          <h6>language</h6>
                       </div>
                       <div class="col-9">
                          <p class="mb-0">{{ user.languages }}</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

{% comment %} fiends {% endcomment %}
<div class="tab-pane fade" id="friends" role="tabpanel">
   <div class="card">
     <div class="card-body">
       <div class="friend-list-tab mt-2">       
         <div class="tab-content">
           <div class="tab-pane fade active show" id="all-friends" role="tabpanel">
             <div class="card-body p-0">
               <div class="row">
                {% for follow in followers %}
                 <div class="col-md-6 col-lg-6 mb-3">
                   <div class="iq-friendlist-block">
                     <div class="d-flex align-items-center justify-content-between">
                       <div class="d-flex align-items-center">
                         <a href="{% url 'user_page' follow.follower.id %}">
                            <!-- Use the follower's profile image if it exists, otherwise provide a default -->
                                      {% if follow.follower.background_image %}
                            <img src="{{ follow.follower.background_image.url }}" alt="{{ follow.follower.username }}" class="img-fluid">
                            {% else %}
                            <img src="{% static 'network/photos/Downpic.cc-1095249842.jpg' %}" alt="Default profile image" class="img-fluid">
                            {% endif %}
                         </a>
                         <div class="friend-info ms-3">
                           <h5>{{ follow.follower.username }}</h5>
                           <p class="mb-0">15 friends</p>
                         </div>
                       </div>
                       <div class="card-header-toolbar d-flex align-items-center">
                         <div class="dropdown">
                           <span class="dropdown-toggle btn btn-secondary me-2" id="dropdownMenuButton01" data-bs-toggle="dropdown" aria-expanded="true" role="button">
                             <i class="ri-check-line me-1 text-white"></i> Friend
                           </span>
                           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01">
                             <a class="dropdown-item" href="#">Close Friend</a>
                             <a class="dropdown-item" href="#">Unfollow</a>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div> <!-- Cierre de la etiqueta tab-pane -->
         </div> <!-- Cierre de la etiqueta tab-content -->
       </div> <!-- Cierre de la etiqueta friend-list-tab -->
     </div> <!-- Cierre de la etiqueta card-body -->
   </div> <!-- Cierre de la etiqueta card -->
 </div> <!-- Cierre de la etiqueta tab-pane -->
 {% empty %}
        <p>No followers yet.</p>
        {% endfor %}         
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              {% for post in user_posts_with_images %}
              {% if post.image %}
              <div class="col">
                <div class="card h-100">
                  <!-- Imagen con tamaño uniforme -->
                  <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ post.id }}">
                    <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="User Post Image" style="height: 200px; object-fit: cover;">
                  </a>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                         <!-- Muestra el conteo de "likes" y "comentarios" -->
                <a href="#" class="me-2">
                  <i class="ri-thumb-up-line"></i> {{ post.likes.count }}
                </a>
                <a href="#" class="me-2">
                  <i class="ri-chat-3-line"></i> {{ post.comments.count }}
                </a>
              </div>
              <div>
                        <a href="#" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                          <i class="ri-edit-2-fill"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                          <i class="ri-delete-bin-line"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- Modal para mostrar la imagen completa -->
              <div class="modal fade" id="imageModal{{ post.id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ post.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="imageModalLabel{{ post.id }}">Image by {{ post.author.username }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <img src="{{ post.image.url }}" class="img-fluid w-100" alt="User Post Image">
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        </main>
     <nav aria-label="Page navigation example">
           <ul class="pagination">
               {% if page_obj.has_previous %}
               <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
               <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
               {% endif %}
             
               <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
   
               {% if page_obj.has_next %}
               <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
               <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
               {% endif %}
           </ul>
       </nav>     
       <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Funcionalidad de "like" en publicaciones
          document.querySelectorAll('.like-btn').forEach(button => {
            button.addEventListener('click', function(event) {
              event.preventDefault();
              const postId = button.getAttribute('data-post-id');
              const likesCountElement = button.closest('.like-block').querySelector('.likes-count');
              let likesCount = parseInt(likesCountElement.innerText);
      
              fetch(`/post/${postId}/like/`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
              })
              .then(response => {
                if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
                return response.json();
              })
              .then(data => {
                if (data.liked) {
                  console.log(data.message);
                  button.classList.add('btn-success');
                  button.classList.remove('btn-primary');
                  likesCountElement.innerText = `${likesCount + 1} Likes`;
                }
              })
              .catch(error => console.error('Error en el "like" de la publicación:', error));
            });
          });
      
          // Funcionalidad de "unlike" en publicaciones
          document.querySelectorAll('.unlike-btn').forEach(button => {
            button.addEventListener('click', function(event) {
              event.preventDefault();
              const postId = button.getAttribute('data-post-id');
              const likesCountElement = button.closest('.like-block').querySelector('.likes-count');
              let likesCount = parseInt(likesCountElement.innerText);
      
              fetch(`/post/${postId}/unlike/`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
              })
              .then(response => {
                if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
                return response.json();
              })
              .then(data => {
                if (!data.liked) {
                  console.log(data.message);
                  button.classList.add('btn-secondary');
                  button.classList.remove('btn-danger');
                  likesCountElement.innerText = `${likesCount - 1} Likes`;
                }
              })
              .catch(error => console.error('Error en el "unlike" de la publicación:', error));
            });
          });
      
          // Funcionalidad de "like" en comentarios
          document.querySelectorAll('.like-comment-btn').forEach(button => {
            button.addEventListener('click', function(event) {
              event.preventDefault();
              const commentId = button.getAttribute('data-comment-id');
              const commentLikesCountElement = button.querySelector('.comment-likes-count');
              let commentLikesCount = parseInt(commentLikesCountElement.innerText);
      
              fetch(`/like_comment/${commentId}/`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
              })
              .then(response => {
                if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
                return response.json();
              })
              .then(data => {
                // Actualiza el contador de likes en el frontend
                if (data.liked) {
                  console.log("Comment liked successfully.");
                  commentLikesCountElement.innerText = commentLikesCount + 1;
                } else {
                  console.log("Comment unliked.");
                  commentLikesCountElement.innerText = commentLikesCount - 1;
                }
              })
              .catch(error => console.error('Error en el "like" del comentario:', error));
            });
          });
        });
      </script>
   {% endblock %}
   
   {% block javascript %}
       <script>
        $(document).ready(function() {
          $('.card').each(function() {
            var imgHeight = $(this).find('.card-img-top').outerHeight();
            $(this).css('height', imgHeight + 'px');
          });
        });
       </script>
   {% endblock %}